jboss-4.0.5.GA/server/default/tmp/deploy/tmp7047904335917183084cat-nav-ear-1.0.0.ear-contents/siivportal-web-0.1-exp.war/WEB-INF/dtd/jportal/safe_delete.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD safe delete)-->
<!ELEMENT foreign-key EMPTY>
<!ATTLIST foreign-key
	column-name CDATA #REQUIRED
	fk-table-name CDATA #REQUIRED
	fk-column-name CDATA #REQUIRED
	mesaj CDATA #REQUIRED
>
<!ELEMENT foreign-keys (foreign-key*)>
<!ELEMENT safe-delete (table+)>
<!ELEMENT table (foreign-keys)>
<!ATTLIST table
	table-name CDATA #REQUIRED
>
